[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
chalice = "*"

[packages]
colorama = "*"

[requires]
python_version = "3.7"

[scripts]
deploy = "chalice deploy --profile personal"
requirements = "pipenv lock --requirements > hello/requirements.txt"